@page "/"
@using TeslaCamPlayer.BlazorHosted.Shared.Models
@inject IDialogService DialogService

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Href="https://github.com/hydazz/TeslaCamPlayer" Target="_blank" />
        <MudText Typo="Typo.h6" Class="ml-2">@AssemblyVersion</MudText>
    </MudAppBar>
    <MudDrawer @bind-Open="@_isBrowserCollapsed" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">TeslaCamPlayer</MudText>
        </MudDrawerHeader>
        @if (_filteredclips == null)
        {
            <div class="loading-screen">
                <MudProgressCircular Color="Color.Default" Indeterminate="true" />
                <MudText Typo="Typo.body1">Indexing events, this can take a while depending on how many videos there are to index!</MudText>
            </div>
        }
        else
        {
            <MudDatePicker @ref="_datePicker" PickerVariant="PickerVariant.Static" IsDateDisabledFunc="IsDateDisabledFunc"
                           FirstDayOfWeek="DayOfWeek.Monday" Class="browser-date-picker" DateChanged="DatePicked"
                           @onmousewheel="@DatePickerOnMouseWheel" />

            <MudToolBar Class="py-2">
                <MudTooltip Text="Refresh Events">
                    <MudIconButton Icon="@Icons.Material.Filled.Refresh" Size="Size.Small"
                                   OnClick="@(() => RefreshEventsAsync(true))" />
                </MudTooltip>
                <MudTooltip Text="Delete Selected Event">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Color="Color.Error"
                                   OnClick="@OpenDeleteConfirmationDialog" />
                </MudTooltip>
                <MudSpacer />
                <MudIconButton Icon="@Icons.Material.Filled.FilterAlt" Size="Size.Small" OnClick="@ToggleFilter" />

                <MudPopover @bind-Open="_showFilter" AnchorOrigin="Origin.CenterLeft"
                            TransformOrigin="Origin.CenterRight" Class="pa-4">
                    <div class="d-flex flex-column" style="gap: 16px;">
                        <EventFilter Values="_eventFilter" ValuesChanged="EventFilterValuesChanged" />
                        <CameraFilter Values="_cameraFilter" ValuesChanged="CameraFilterValuesChanged" />
                    </div>
                </MudPopover>
                <MudOverlay @bind-Visible="_showFilter" OnClick="ToggleFilter" />
            </MudToolBar>

            <div @ref="_eventsList" class="events-list" @onscroll="EventListScrolled">
                <Virtualize TItem="Clip" ItemSize="@EventItemHeight" Items="@_filteredclips" OverscanCount="10">
                    <ItemContent>
                        <div class="event @(_activeClip == context ? "event--active" : null)" @key="@context.EndDate"
                             @onclick="@(() => SetActiveClip(context))">
                            @if (!string.IsNullOrWhiteSpace(context.ThumbnailUrl))
                            {
                                <img class="thumbnail" src="@context.ThumbnailUrl" loading="lazy" />
                            }
                            <div class="details ml-2">
                                <div class="icons">
                                    @foreach (var icon in GetClipIcons(context))
                                    {
                                        <MudIcon Icon="@icon" Size="Size.Small" Class="mr-1" />
                                    }
                                </div>
                                <div class="date">
                                    @((context.Event?.Timestamp ?? context.StartDate).ToString("dd MMM yy h:mm tt"))
                                </div>
                                <div class="location">
                                    @context.Event?.City
                                </div>
                            </div>
                        </div>
                    </ItemContent>
                    <Placeholder>
                        <div class="event">
                            <MudSkeleton Class="thumbnail" Width="66.66px" />
                            <div class="details ml-2">
                                <div class="icons">
                                    <MudSkeleton Width="20%" />
                                </div>
                                <div class="date">
                                    <MudSkeleton Width="80%" />
                                </div>
                            </div>
                        </div>
                    </Placeholder>
                </Virtualize>
            </div>
        }
    </MudDrawer>
    <MudMainContent Class="viewer-container">
        <ClipViewer @ref="_clipViewer" PreviousButtonClicked="PreviousButtonClicked"
            NextButtonClicked="NextButtonClicked" CameraFilter="_cameraFilter" />
    </MudMainContent>
</MudLayout>

@code {
    private bool _isBrowserCollapsed = true;

    private void ToggleDrawer()
    {
        _isBrowserCollapsed = !_isBrowserCollapsed;
    }
}
